body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

section {
    padding: 20px;
}

img {
    width: 150px;
    border-radius: 50%;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

/* Dark Mode */
.dark {
    background: black;
    color: white;
}
